.details-header {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.details-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}
.body {
  max-width: 1200px;
  margin: 130px auto 30px auto;
}
