.categories {
  max-width: 1200px;
  margin: 130px auto;
}
.categories h1 {
  text-align: center;
  font-weight: 800;
  font-size: 48px;
  line-height: 66px;
  color: #1a1919;
}
.categories p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #757575;
}
.categories-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
