.bg-home {
  background-image: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.05) 0%,
    rgba(152, 115, 255, 0.05) 100%
  );
}
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}
.home img {
  height: 550px;
}
.home-description {
}
.home-description h1 {
  font-weight: 800;
  font-size: 80px;
  line-height: 100px;

  color: #1a1919;
}
.dream-job {
  color: #9873ff;
}
