.bg-header {
  padding: 10px;

  background-image: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.05) 0%,
    rgba(152, 115, 255, 0.05) 100%
  );
}
nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 50px auto 0px auto;
}
.logo {
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  color: #1a1919;
}
.links {
  flex-grow: 1;
  text-align: center;
}
.links a {
  text-decoration: none;
  margin-right: 30px;
}
.container {
  margin: 0 auto;
}
.btn-common {
  color: white;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  padding: 20px;
  border: 0;
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  border-radius: 8px;
}
